<!DOCTYPE html>
<html lang="en" data-bs-theme="<%= user.darkMood ? 'dark' : 'light' %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
  <link
    href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/adminDashboard.css" />
  <title>MaMa's Spaghetti'</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg text-black position-fixed w-100 z-2 bg1" id="navId">
    <div class="container">
      <a class="navbar-brand fw-bold text-uppercase" href="#"><img src="/images/logo.png" alt="logo"> MaMa's
        Spaghetti</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/adminDashboard">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <% if (user) { %>
              <a class="nav-link" href="profile"><img class="rounded-circle" src="<%=user.img%>" alt="user-img"></a>
              <% } else { %>
                <a class="nav-link" href="signLogin">Sign Up</a>
                <% } %>
          </li>
          <%if(user.darkMood){%>
            <li class="nav-item">
              <i class="fa-solid fa-sun fa-lg" id="darkModeToggle"></i>
            </li>
            <%}else{%>
              <li class="nav-item">
                <i class="fa-solid fa-moon fa-lg" id="darkModeToggle"></i>
              </li>
              <%}%>
        </ul>
      </div>
    </div>
  </nav>


  <section class="adminTop text-center">
    <h1>Admin Dashboard</h1>
  </section>


  <section class="editRecipes">
    <div class="container text-center">
      <div class="top">
        <h2>
          Control Recipes
        </h2>
      </div>
      <a href="/recipes">Edit Recipes</a>
    </div>
  </section>

  <section class="editUser bg2">
    <div class="container text-center">
      <div class="top">
        <h2>
          Control Users
        </h2>
      </div>

      <div class="usersList">
        <div class="row g-3">
          <%users.forEach(user=>{%>
            <div class="col-lg-3 col-md-6">
              <div class="inner">

                <div class="card userCard">

                  <div class="img-box overflow-hidden">
                    <img src="/images/<%= user.img %>" alt="<%= user.name %>">
                  </div>

                  <div class="card-body">
                    <h5 class="card-title" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      <%= user.name %>
                    </h5>
                  </div>
                </div>

              </div>
            </div>

            <div class="modal fade service-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                      <%= user.name%>
                    </h1>
                    <button type="button" class="btn-close" id="modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="userEditForm">
                      <div class="Image">
                        <div class="img-box rounded-3 overflow-hidden mb-3">
                          <img src="/images/<%=user.img%>" alt="<%=user.name%> Image" id="userImg">
                        </div>
                        <div class="d-flex">
                          <label for="userImgUp" class="w-25">Change img:</label>
                          <input type="file" name="userImgUp" id="userImgUp" class="w-75">
                        </div>
                      </div>

                      <div class="mb-2">
                        <label for="userName" class="col-form-label"></label>
                        <input type="text" class="form-control" id="userName" name="userName"
                          placeholder="Update Name" value="<%=user.name%>" required>
                      </div>

                      <div class="mb-2">
                        <label for="userPass" class="col-form-label"></label>
                        <input type="text" class="form-control" id="userPass" name="userPass"
                          placeholder="Update Password" value="<%=user.password%>" required>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="delBtn" data-bs-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-outline-dark" id="editBtn"
                          data-bs-dismiss="modal">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <%})%>
        </div>
      </div>
    </div>
  </section>
  
    <nav aria-label="Page navigation example" class="bg2">
    <ul class="pagination justify-content-center">
      <% if (currentPage> 1) { %>
        <li class="page-item">
          <a class="page-link" href="/adminDashboard?page=<%= currentPage - 1 %>">Previous</a>
        </li>
        <% } else { %>
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <% } %>

            <% for (let i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="/adminDashboard?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } %>

                <% if (currentPage < totalPages) { %>
                  <li class="page-item">
                    <a class="page-link" href="/adminDashboard?page=<%= currentPage + 1 %>">Next</a>
                  </li>
                  <% } else { %>
                    <li class="page-item disabled">
                      <span class="page-link">Next</span>
                    </li>
                    <% } %>
    </ul>
  </nav>



  <footer>
    <div class="d-flex align-items-center justify-content-center text-secondary py-4 text-center bg-black">
      <p class="mb-0">Copy Right 2025 © By <span class="fw-bold"><a href="#" class="text-decoration-none fs-5">MaMa's
            Spaghetti</a></span> All Rights Reserved</p>
    </div>
  </footer>

  <script src="/js/darkMood.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/adminDashboard.js"></script>
</body>
</body>

</html>